html{
    background-color: lightgrey;
}

h1{
    text-align: center;
}

div[id="error"]{
    text-align: center;
    color: red;
}

div[id="display"]{
    text-align: center;
}

input, select{
    padding: .4em;
    margin-bottom: 1em;
}

input[type="checkbox"], input[type="button"]{
    margin-left: 50%;
}

label[for="title"], label[for="price"], label[for="rating"]{
    width: 50%;
    display: inline-block;
    text-align: right;
}