input{
    padding: .5em;
    margin-bottom: .5em;
}

select{
    margin-bottom: .5em;
}

label[for="title"], label[for="price"], label[for="rating"]{
    width: 50%;
    display: inline-block;
    text-align: right;
}

input[type="checkbox"], input[type="button"]{
    margin-left: 50%;
}